<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>



    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AvenueThouseBongabong"
        tools:targetApi="31">
        <activity
            android:name=".receipt"
            android:exported="false"
            android:theme="@style/Theme.AvenueThouseBongabong" />
        <activity
            android:name=".ratingPage"
            android:exported="false" />
        <activity
            android:name=".faqs"
            android:exported="false" />
        <activity
            android:name=".user_info"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Favorites"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".purchase"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".order_summary"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scanner"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".chat"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".complete_info"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".phone_login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacebookAuthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ordering.app.avenuet_housebongabong.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>